<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clean Ocean</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="static/css/style.css">

</head>

<body>
    
<header>

    <a href="http://localhost:5000/" class="logo"></span>Clean<span class="fas fa-water"></span>Ocean</a>

    <div id="menu" class="fas fa-bars"></div>

    <nav class="navbar">
        <a class="active" href="http://localhost:5000/">Accueil</a>
        <a href="http://localhost:5000/#fonctionnalites">Fonctionnalités</a>
        <a href="http://localhost:5000/#members">Qui sommes-nous</a>
        <a href="http://localhost:5000/clean-ocean/login">Se connecter</a>
        <a href="http://localhost:5000/clean-ocean/signup">Créer un compte</a>
    </nav>

</header>

<section class="home" id="home">

    <div class="content">
        <h1>Bienvenue dans Clean Ocean</h1>
        <h3>Grace à notre site vous pouvez détécter facilement les plastiques dans les océans</h3>
        <a href="#members" class="btn">Plus d'infos ...</a>
    </div>

</section>


<section class="fonctionnalites" id="fonctionnalites">

    <h1 class="heading"> Fonctionnalités de notre plateforme </h1>

    <div class="box-container">
        <div class="box">
            <img src="static/images/pre-1.png" alt="">
            <h3>Statistiques</h3>
            <p>Vous pouvez consultez les statistiques en temps réel sur les débris dans les océans</p>
            
            <a class="btnGoTo" href="http://localhost:5000/clean-ocean/statistiques">Consulter les statistiques</a>
        </div>

        <div class="box">
            <img src="static/images/pre-2.png" alt="">
            <h3>Détection de débris</h3>
            <p>Vous pouvez consulter n'importe quel zone géographique sur google maps et grace à nos modèles ML vous pouvez savoir l'état de polution des zones choisis</p>
            <a class="btnGoTo" href="http://localhost:5000/clean-ocean/detection-debris">Détection de débris</a>
        </div>

        <div class="box">
            <img src="static/images/pre-3.png" alt="">
            <h3>Rejoinez-nous</h3>
            <p>Rejoindre notre communauté</p>
            <a class="btnGoTo" href="http://localhost:5000/clean-ocean/signup">Rejoinez-nous</a>
        </div>

    </div>

</section>


<section class="members" id="members">

    <h1 class="heading">Qui sommes-nous</h1>

    <p>Dans le cadre du module Méthodes agiles, on est chargé de créer une plateforme qui aide les gens à détecter facilement les débris dans les océans en se basant sur les images satellitaires</p>

    <h1 class="heading">L'équipe chargé de la réalisation de cettet plateforme est :</h1>

    <div class="box-container">

        <div class="box">
            <img src="static/images/member_narjis.png" alt="">
            <h3>BENTOUHAMI NARJIS</h3>
            <span>Scrum master</span>
            <div class="share">
                <a href="#" class="fab fa-whatsapp"></a>
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="static/images/member_aminatou.png" alt="">
            <h3>HAMISSOU ABDOU Aminatou</h3>
            <span>Dev team</span>
            <div class="share">
                <a href="#" class="fab fa-whatsapp"></a>
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="static/images/member_fatima-ezzahra.png" alt="">
            <h3>KANNOUFA Fatima Ezzahra</h3>
            <span>Dev team</span>
            <div class="share">
                <a href="#" class="fab fa-whatsapp"></a>
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="static/images/member_bougary.png" alt="">
            <h3>Tamega Bougary</h3>
            <span>Product Owner</span>
            <div class="share">
                <a href="#" class="fab fa-whatsapp"></a>
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

    </div>

</section>

<div class="footer">

    <h1 class="credit"> created by <a href="#">CleanOcean</a> &copy; 2022 </h1>

</div>

<a href="#home" class="scroll-top">
    <img src="static/images/scroll-img.png" alt="">
</a>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="js/script.js"></script>


</body>
</html>